@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
header{
  background-color:#6dbf10;
}
body{
  background-color:white;
}
.logo {
  margin-left:30px;
  width: 400px;
  padding: 0;
}
.titulo{
  float:right;
  width:600px;
  padding:0;
  margin-top:30px;
  margin-right:300px;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: forestgreen;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color:green;
}
divBusca{

}
* { margin: 0; padding: 0; }
.css-input { 
    padding: 10px; 
    font-size: 14px; 
    border-color:#455c0a; 
    color:green; 
    border-radius:5px; 
    border-style:outset; 
    border-width:1px;
    margin-left: 90px;
}
.lavoura{
  width:450px;
  padding:20px;
  margin-right:10px;
  margin-top:20px;
  float:right;
}
h1{
  padding:40px;
}
h2{
  margin-left:50px;
}
p{
  margin-left:55px;
}
.main_footer          { 
	background-color:#6dbf10; 
	color:#fff; 
	font-size:0.875em; 
}
.main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
.container { float:left; width:100%; }
.colfooter { 
	width:100%; 
	height:auto; 
	float:left; 
	margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { text-decoration:underline; }
.colfooter .titleFooter   { 
	font-family:'open_sansregular'; 
	font-size:1.3em; 
	color:#ffffff; 
	padding-bottom: 0.5em; 
	margin-bottom:0.5em; 
	border-bottom:1px green solid;
}
.colfooter p  { font-family:'open_sanslight'; color:#ffffff; font-size:1em; height:25px; } 
.botao{
  padding: 10px 12px;
  color: #ffff;
  font-family: 'open_sansregular';
  letter-spacing:2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  margin-right:7px;
  
}
.botao::before {
  
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #455c0a;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.botao:hover::before {
  
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
.botao{
    font-size:1em;
    color:#ffffff;
    text-align:center;
    font-family:'open_sansregular';
    border:1px solid #ffffff;
    border-radius:3px;
    overflow: hidden!important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}
.botao:hover{
    border: 1px solid black;
    color: #6b8f10!important;
}
.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #b7db5a;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 
.botao::after {
 
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #455c0a;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0);
}
.botao:hover::before, .botao:hover::before{
   
    opacity:1;
    width: 120%;
}
.botao:hover::after, .botao:hover::after{
    opacity:1;
    width: 150%;
}
.main_footer_copy { background-color:green; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-family:'open_sanslight'; font-size:1em; color:white; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; }
.main_footer_copy .by a:hover { text-decoration:underline; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:green; }
/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){
.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
}
